{% extends 'admin/layout/default-layout.html' %}
<!-- title block-->
{% block title %}Login {% endblock title %}
{% load static%}
<!-- content block-->
{%block content %} 
<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="bg_image">
    <div
      class="content-wrapper d-flex align-items-center auth px-0"
      style="background-color: transparent; height: 100vh"
    >
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div
            class="auth-form-light text-left py-5 px-4 px-sm-5 dailogbg_image"
            style="background-color: #fff; border-top: 3px solid #066eb7"
          >
            
            <h3 class="text-center" style="color: #626262">Register</h3><hr>

            <form  id ="registration_form" class="pt-3" action="" method="POST" enctype="multipart/form-data">
               
              {% csrf_token %} 
              {% for message in messages %}
    
              <div class="alert alert-danger">
                  <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
              </div>
              {% endfor %}
            <div class="row">
              <div class="col">   
                <div class="form-group">
                <label for="firstname">First name</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="first_name"
                  name="first_name"
                  placeholder="First name"
                  style="background-color: #f2f1f3"
                 />  <span id="u_firstn" style= "color:red" ></span>
                </div>
              </div>
              <div class="col">   
                <div class="form-group">
                 <label for="lastname">Last name</label>
                 <input
                  type="text"
                  class="form-control form-control-lg"
                  id="last_name"
                  name="last_name"
                  placeholder="Last Name"
                  style="background-color: #f2f1f3"
                  /><span id="u_lastn"  style= "color:red"></span>
                </div>
               </div>
            </div> 
            <div class="row">
             <div class="col">     
                <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                  id="username"
                  name="username"
                  placeholder="Username"
                  style="background-color: #f2f1f3"
                 /> <span id="u_username" style= "color:red" ></span>
                </div>
              </div>
              <div class="col">  
                <div class="form-group">
                 <label for="email">Email</label>  
                  <input
                  type="text"
                  class="form-control form-control-lg"
                  id="email"
                  name="email"
                  placeholder="Email"
                  style="background-color: #f2f1f3"
                  /><span id="u_mail" style= "color:red"></span>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col">      
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                  type="password"
                  name="password"
                  class="form-control form-control-lg"
                  id="password"
                  placeholder="Password"
                  style="background-color: #f2f1f3"
                  /> <span id="u_pwd" style= "color:red" ></span>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="confrim_password">Confirm Password</label>
                  <input
                  type="password"
                  name="confirm_password"
                  class="form-control form-control-lg"
                  id="confirm_password"
                  placeholder="Confirm Password"
                  style="background-color: #f2f1f3"
                  /><span id="u_con_pwd" style= "color:red" ></span>	
                </div>
             </div>
            </div>
            <div class="row">
              <div class="col">   
                <div class="form-group">
                <label for="mobile">Contact</label>
                <input
                  type="text"
                  name="mobile"
                  class="form-control form-control-lg"
                  id="mobile"
                  placeholder="Contact Number"
                  style="background-color: #f2f1f3"
                  /><span id="u_mob" style= "color:red"></span>
                </div>
              </div>

              <div class="col">   
                <div class="form-group">
                <label for="gender">Gender</label>
                <input type="radio" name="gender" id="maleGender"  value="Male">Male
                <input type="radio" name="gender" id="femaleGender" value="Female">Female
                <div id="radio_errors"> </div>
                <span id="u_gen" style= "color:red"></span><br><hr>
                </div>
              </div>
            
              <div class="col">
                <div class="form-group">
                  <label>Profile Image</label>
                  <input  name="fileInput" type="file"  id="fileInput" onchange="displayChosenFile()">
                  <p id="chosenFile"></p>
                  <img id="previewImage"  style="max-width: 50%; max-height: 100px;">
                </div>
                </div>		
            </div>
              <div class="mt-3">
                <button
                  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  type="submit"
                >
                  Submit
                </button>
                {% comment %}
                <a
                  class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  href="home"
                  >LOGIN</a
                >
                {% endcomment %}
              </div>
              <div class="my-3 d-flex justify-content-end align-items-center">
                <a href="/" class="auth-link text-black">Login?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
</div>
<script>
  function displayChosenFile() {
      // Get the file input element
      var fileInput = document.getElementById('fileInput');
      // Get the selected file
      var chosenFile = fileInput.files[0];
      // Display the file name
      var chosenFileDisplay = document.getElementById('chosenFile');
      // Display the image
      var previewImage = document.getElementById('previewImage');

      // Check if the chosen file is an image
      if (chosenFile && chosenFile.type.startsWith('image/')) {
          var reader = new FileReader();

          // Set up the reader onload event
          reader.onload = function (e) {
              // Set the source of the image element to the read data URL
              previewImage.src = e.target.result;
          };

          // Read the file as a data URL
          reader.readAsDataURL(chosenFile);
      } else {
          // If the chosen file is not an image, clear the image element
          previewImage.src = '';
      }
  }
</script>
<script src="{% static 'js/register_spanmsg.js' %}"></script>

<!-- page-body-wrapper ends -->
{% endblock content %}
