{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}User</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      href="{% static 'css/vertical-layout-light/style.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/login_custom.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
      <div id="content">{% block content %}{% endblock %}</div>
      <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
  
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <script src="{% static 'js/login_spanmsg.js' %}"></script>
    <script src="{% static 'js/register_spanmsg.js' %}"></script>
    <script src="{% static 'js/otp_reset_pass.js' %}"></script>
   
    <!-- endinject -->
  </body>
</html>
